################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
bin
obj
/CrytptoInfo.POCWork/.vs/CrytptoInfo.General/DesignTimeBuild/.dtbcache.v2
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/CryptoApi/v16/TestStore/0/testlog.manifest
/.vs/CryptoApi/v16/TestStore/0/000.testlog
/CrytptoInfo.POCWork/obj/Debug/net5.0/ref/CrytptoInfo.POCWork.dll
/CrytptoInfo.POCWork/obj/Debug/net5.0/CrytptoInfo.POCWork.pdb
/CrytptoInfo.POCWork/obj/Debug/net5.0/CrytptoInfo.POCWork.genruntimeconfig.cache
/CrytptoInfo.POCWork/obj/Debug/net5.0/CrytptoInfo.POCWork.GeneratedMSBuildEditorConfig.editorconfig
/CrytptoInfo.POCWork/obj/Debug/net5.0/CrytptoInfo.POCWork.dll
/CrytptoInfo.POCWork/bin/Debug/net5.0/ref/CrytptoInfo.POCWork.dll
/CrytptoInfo.POCWork/bin/Debug/net5.0/Newtonsoft.Json.dll
/CrytptoInfo.POCWork/bin/Debug/net5.0/Microsoft.Extensions.Logging.Abstractions.dll
/CrytptoInfo.POCWork/bin/Debug/net5.0/CrytptoInfo.POCWork.runtimeconfig.json
/CrytptoInfo.POCWork/bin/Debug/net5.0/CrytptoInfo.POCWork.runtimeconfig.dev.json
/CrytptoInfo.POCWork/bin/Debug/net5.0/CrytptoInfo.POCWork.pdb
/CrytptoInfo.POCWork/bin/Debug/net5.0/CrytptoInfo.POCWork.exe
/CrytptoInfo.POCWork/bin/Debug/net5.0/CrytptoInfo.POCWork.dll
/CrytptoInfo.POCWork/bin/Debug/net5.0/CrytptoInfo.POCWork.deps.json
/CrytptoInfo.POCWork/obj/Debug/net5.0/CrytptoInfo.POCWork.csproj.FileListAbsolute.txt
/CrytptoInfo.POCWork/obj/Debug/net5.0/CrytptoInfo.POCWork.csproj.CoreCompileInputs.cache
/CrytptoInfo.POCWork/obj/Debug/net5.0/CrytptoInfo.POCWork.csproj.AssemblyReference.cache
/CrytptoInfo.POCWork/obj/CrytptoInfo.POCWork.csproj.nuget.g.targets
/CrytptoInfo.POCWork/obj/CrytptoInfo.POCWork.csproj.nuget.g.props
/CrytptoInfo.POCWork/obj/CrytptoInfo.POCWork.csproj.nuget.dgspec.json
/CrytptoInfo.POCWork/obj/Debug/net5.0/CrytptoInfo.POCWork.assets.cache
/CrytptoInfo.POCWork/obj/Debug/net5.0/CrytptoInfo.POCWork.AssemblyInfoInputs.cache
/CrytptoInfo.POCWork/.vs/CrytptoInfo.POCWork/v16/TestStore/0/testlog.manifest
/CrytptoInfo.POCWork/.vs/CrytptoInfo.General/v16/TestStore/0/testlog.manifest
/CrytptoInfo.POCWork/obj/project.nuget.cache
/CrytptoInfo.POCWork/obj/project.assets.json
/CrytptoInfo.POCWork/obj/Debug/net5.0/apphost.exe
/CrytptoInfo.POCWork/bin/Debug/net5.0/CryptoExchange.Net.dll
/CrytptoInfo.POCWork/bin/Debug/net5.0/Binance.Net.dll
/CrytptoInfo.POCWork/.vs/CrytptoInfo.POCWork/v16/TestStore/0/000.testlog
/CrytptoInfo.POCWork/.vs/CrytptoInfo.General/v16/TestStore/0/000.testlog
/CrytptoInfo.POCWork/.vs/CrytptoInfo.General/v16/.suo
/.vs/CryptoApi/v16/.suo
*.v2
*.user
*.cache
/CrytpoInfo.Buisness/obj/Debug/net5.0/CrytpoInfo.Buisness.GeneratedMSBuildEditorConfig.editorconfig
/CrytpoInfo.Buisness/obj/CrytpoInfo.Buisness.csproj.nuget.g.targets
/CrytpoInfo.Buisness/obj/CrytpoInfo.Buisness.csproj.nuget.g.props
/CrytpoInfo.Buisness/obj/CrytpoInfo.Buisness.csproj.nuget.dgspec.json
/CrytpoInfo.Core/obj/Debug/net5.0/CrytpoInfo.Core.GeneratedMSBuildEditorConfig.editorconfig
/CrytpoInfo.Core/obj/CrytpoInfo.Core.csproj.nuget.g.targets
/CrytpoInfo.Core/obj/CrytpoInfo.Core.csproj.nuget.g.props
/CrytpoInfo.Core/obj/CrytpoInfo.Core.csproj.nuget.dgspec.json
/CrytpoInfo.CryptAPI/obj/Debug/net5.0/ref/CrytpoInfo.CryptAPI.dll
/CrytpoInfo.CryptAPI/obj/Debug/net5.0/CrytpoInfo.CryptAPI.GeneratedMSBuildEditorConfig.editorconfig
/CrytpoInfo.CryptAPI/obj/Debug/net5.0/CrytpoInfo.CryptAPI.dll
/CrytpoInfo.CryptAPI/obj/Debug/net5.0/CrytpoInfo.CryptAPI.csproj.FileListAbsolute.txt
/CrytpoInfo.CryptAPI/obj/Debug/net5.0/CrytpoInfo.CryptAPI.csproj.CopyComplete
/CrytpoInfo.CryptAPI/obj/CrytpoInfo.CryptAPI.csproj.nuget.g.targets
/CrytpoInfo.CryptAPI/obj/CrytpoInfo.CryptAPI.csproj.nuget.g.props
/CrytpoInfo.CryptAPI/obj/CrytpoInfo.CryptAPI.csproj.nuget.dgspec.json
/CrytpoInfo.CryptAPI/bin/Debug/net5.0/ref/CrytpoInfo.CryptAPI.dll
/CrytpoInfo.CryptAPI/bin/Debug/net5.0/CrytpoInfo.CryptAPI.exe
/CrytpoInfo.CryptAPI/bin/Debug/net5.0/CrytpoInfo.CryptAPI.dll
/CrytpoInfo.CryptAPI/bin/Debug/net5.0/CrytpoInfo.CryptAPI.deps.json
/CrytpoInfo.Models/obj/Debug/net5.0/CrytpoInfo.Models.GeneratedMSBuildEditorConfig.editorconfig
/CrytpoInfo.Models/obj/CrytpoInfo.Models.csproj.nuget.g.targets
/CrytpoInfo.Models/obj/CrytpoInfo.Models.csproj.nuget.g.props
/CrytpoInfo.Models/obj/CrytpoInfo.Models.csproj.nuget.dgspec.json
/CrytpoInfo.CryptAPI/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/CrytpoInfo.CryptAPI/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/CrytpoInfo.CryptAPI/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
/CrytpoInfo.Models/obj/project.assets.json
/CrytpoInfo.CryptAPI/obj/project.assets.json
/CrytpoInfo.Core/obj/project.assets.json
/CrytpoInfo.Buisness/obj/project.assets.json
/CrytpoInfo.CryptAPI/obj/Debug/net5.0/staticwebassets/CrytpoInfo.CryptAPI.StaticWebAssets.xml
/CrytpoInfo.CryptAPI/obj/Debug/net5.0/CrytpoInfo.CryptAPI.pdb
/CrytpoInfo.CryptAPI/bin/Debug/net5.0/CrytpoInfo.CryptAPI.runtimeconfig.json
/CrytpoInfo.CryptAPI/bin/Debug/net5.0/CrytpoInfo.CryptAPI.runtimeconfig.dev.json
/CrytpoInfo.CryptAPI/bin/Debug/net5.0/CrytpoInfo.CryptAPI.pdb
*.exe
*.dll
