################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrytptoInfo.POCWork/.vs/CrytptoInfo.General/DesignTimeBuild/.dtbcache.v2
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/CryptoApi/v16/TestStore/0/testlog.manifest
/.vs/CryptoApi/v16/TestStore/0/000.testlog
/CrytptoInfo.POCWork/obj/Debug/net5.0/ref/CrytptoInfo.POCWork.dll
/CrytptoInfo.POCWork/obj/Debug/net5.0/CrytptoInfo.POCWork.pdb
/CrytptoInfo.POCWork/obj/Debug/net5.0/CrytptoInfo.POCWork.genruntimeconfig.cache
/CrytptoInfo.POCWork/obj/Debug/net5.0/CrytptoInfo.POCWork.GeneratedMSBuildEditorConfig.editorconfig
/CrytptoInfo.POCWork/obj/Debug/net5.0/CrytptoInfo.POCWork.dll
/CrytptoInfo.POCWork/bin/Debug/net5.0/ref/CrytptoInfo.POCWork.dll
/CrytptoInfo.POCWork/bin/Debug/net5.0/Newtonsoft.Json.dll
/CrytptoInfo.POCWork/bin/Debug/net5.0/Microsoft.Extensions.Logging.Abstractions.dll
/CrytptoInfo.POCWork/bin/Debug/net5.0/CrytptoInfo.POCWork.runtimeconfig.json
/CrytptoInfo.POCWork/bin/Debug/net5.0/CrytptoInfo.POCWork.runtimeconfig.dev.json
/CrytptoInfo.POCWork/bin/Debug/net5.0/CrytptoInfo.POCWork.pdb
/CrytptoInfo.POCWork/bin/Debug/net5.0/CrytptoInfo.POCWork.exe
/CrytptoInfo.POCWork/bin/Debug/net5.0/CrytptoInfo.POCWork.dll
/CrytptoInfo.POCWork/bin/Debug/net5.0/CrytptoInfo.POCWork.deps.json
/CrytptoInfo.POCWork/obj/Debug/net5.0/CrytptoInfo.POCWork.csproj.FileListAbsolute.txt
/CrytptoInfo.POCWork/obj/Debug/net5.0/CrytptoInfo.POCWork.csproj.CoreCompileInputs.cache
/CrytptoInfo.POCWork/obj/Debug/net5.0/CrytptoInfo.POCWork.csproj.AssemblyReference.cache
/CrytptoInfo.POCWork/obj/CrytptoInfo.POCWork.csproj.nuget.g.targets
/CrytptoInfo.POCWork/obj/CrytptoInfo.POCWork.csproj.nuget.g.props
/CrytptoInfo.POCWork/obj/CrytptoInfo.POCWork.csproj.nuget.dgspec.json
/CrytptoInfo.POCWork/obj/Debug/net5.0/CrytptoInfo.POCWork.assets.cache
/CrytptoInfo.POCWork/obj/Debug/net5.0/CrytptoInfo.POCWork.AssemblyInfoInputs.cache
/CrytptoInfo.POCWork/.vs/CrytptoInfo.POCWork/v16/TestStore/0/testlog.manifest
/CrytptoInfo.POCWork/.vs/CrytptoInfo.General/v16/TestStore/0/testlog.manifest
/CrytptoInfo.POCWork/obj/project.nuget.cache
/CrytptoInfo.POCWork/obj/project.assets.json
/CrytptoInfo.POCWork/obj/Debug/net5.0/apphost.exe
/CrytptoInfo.POCWork/bin/Debug/net5.0/CryptoExchange.Net.dll
/CrytptoInfo.POCWork/bin/Debug/net5.0/Binance.Net.dll
/CrytptoInfo.POCWork/.vs/CrytptoInfo.POCWork/v16/TestStore/0/000.testlog
/CrytptoInfo.POCWork/.vs/CrytptoInfo.General/v16/TestStore/0/000.testlog
/CrytptoInfo.POCWork/.vs/CrytptoInfo.General/v16/.suo
/.vs/CryptoApi/v16/.suo
*.v2
*.user
